<html>
    <head>
        <title>account activation</title>
        <meta http-equiv=Content-Type content="text/html; charset=iso-8859-1">
    </head>
    <body style="font-family:Arial;padding:10px;">
        <h3 style="width:390px;background-color:#1587B7;border:1px solid #1587B7;color:#FFF;padding-left:10px;margin:0px;"><?php echo PROJECT; ?> <i style="font-size:12px;">account activation</i></h3>
        <div style="width:400px;border:1px solid #CCC;background-color:#F8F8F8;">
            <div style="padding:10px;font-size:14px;">
                Hi <?php echo $this->receiver; ?>,<br>
                <br>welcome to <?php echo PROJECT; ?>, to activate your account please follow this link:&nbsp;<br>
                <a style="text-decoration:none;" href="http://www.<?php echo PROJECT; ?>.com/activation?action=activation&h=<?php echo $this->hash; ?>"><b style="color:#3A7FB2;">activate my account</b></a><br>
                <br>your <?php echo PROJECT; ?> team
                <p>&nbsp;</p>
            </div>
        </div>
    </body>
</html>