<html>
    <head>
        <title>friend request</title>
        <meta http-equiv=Content-Type content="text/html; charset=iso-8859-1">
    </head>
    <body style="font-family:Arial;padding:10px;">
        <h3 style="width:390px;background-color:#1587B7;border:1px solid #1587B7;color:#FFF;padding-left:10px;margin:0px;"><?php echo PROJECT; ?> <i style="font-size:12px;">friend request</i></h3>
        <div style="width:400px;border:1px solid #CCC;background-color:#F8F8F8;">
            <div style="padding:10px;font-size:14px;">
                Hi <?php echo $this->receiver; ?>,<br>
                <br><?php echo $this->writer; ?> want you to be a friend of you. You may <a style="text-decoration:none;" href="http://www.<?php echo PROJECT; ?>.com/"><b style="color:#3A7FB2;">login</b></a> on <?php echo PROJECT; ?> and accept <?php echo $this->writer; ?>'s request.
                <br><br>your <?php echo PROJECT; ?> team
                <p>&nbsp;</p>
            </div>
        </div>
        <span style="color:#888;font-size:9px;">&nbsp;&nbsp;&nbsp;deactivate this notification at 'edit my account' > 'notification setting'</span>
    </body>
</html>